html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}
.header{
  display: flex;
  padding: 0 3vw;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 1.2rem;
  position: absolute;
  left:0;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color:aqua;
  align-items: center;
  height: 4rem;
}
.footer{  display: flex;
  padding: 0 3vw;
  justify-content: flex-end;
  box-sizing: border-box;
  font-size: 1.2rem;
  position: absolute;
  left:0;
  bottom: 0;
  width: 100%;
  z-index: 99;
  align-items: center;
  height: 4rem;
}
button{
  height: 2.6rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  background-color:aqua;

}